# always-ignore extensions
.cache

# OS
.DS_Store
Thumbs.db

# IDE
*.sublime-project
*.sublime-workspace

# folders
bower_components
build
node_modules

# files
# wildcard `/folder/**/*.abc` works since git 1.8.4 (msysgit 1.8.2)
# see http://goo.gl/wo6TlD
